<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
      </div>
    <div class="row">
      <button on-click="obtenerClientes" class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button">Obtener Clientes</button>
      <button on-click="insertarClientes" class="btn btn-warning col-lg-4 col-xs-12" type="button" name="button">Registrar Clientes</button>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>

              <td>[[item.idcliente]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>

            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true /*-- Peticion sincrona */
          }
        };
      }
      obtenerTarifas() {
        //Clientes MLab:
        var url="http://localhost:3002/v3/Tarifas";
        var request = new XMLHttpRequest();

        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        //Clientes MLab:
        this.tarifas = JSON.parse(request.responseText);
        console.table(this.tarifas);
      }
      obtenerClientes() {
        //var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        //Clientes MLab:
        var url="http://localhost:3002/v3/Clientes";
        var request = new XMLHttpRequest();

        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        //Clientes MLab:
        this.clientes = JSON.parse(request.responseText);
        console.table(this.clientes);
      }
      insertarClientes(){
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();

        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente = {"CustomerID":1235, "ContactName":"Mauro E. Nájera Espinosa", "CompanyName":"BBVA"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.log(respuesta);
      }
      obtenerTarifas() {
        //Clientes MLab:
        var url="http://localhost:3002/v3/Tarifas";
        var request = new XMLHttpRequest();

        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        //Clientes MLab:
        this.tarifas = JSON.parse(request.responseText);
        console.table(this.tarifas);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
